/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
  --white: #fff;
  --black: #000;
  --heading-color: #222;
  --body-color: #636363;
  --accent-color: #E3001B;
  --blue-color: #0B1C6B;
  --gray-color: #32312F;
  --border-color: #dddddd;
  --heading-font: 'Poppins', sans-serif;
  --body-font: 'Rubik', sans-serif;
}
